.Table-Container {
  display: flex;
  justify-content: center;
}

table {
  width: 750px;
  min-width: 100%;
}
.mat-mdc-row {
  padding: 32px !important;
}

tr {
}

.cover-image {
  width: 50px;
  height: auto;
  //   border-radius: 4px;
  object-fit: cover;
  margin: 8px 0;
}

img.cover-image:hover {
  cursor: pointer;
}
.reading-status-cell {
  display: flex;
  flex-direction: column;
}
.edit-status {
  font-size: 12px;
  color: rgb(25, 100, 143);
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.radio-group {
  display: flex;
  flex-direction: column;
}
