.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(46, 44, 44);

  .toolbar-left {
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }

  .app-name {
    margin-right: 8px;
    font-style: italic;
    font-size: 1.5rem;
  }
}

.toolbar-right {
  display: flex;
  align-items: center;
}

.menu-items {
  display: flex;
  gap: 10px;

  & > button {
    background: none;
    border: none;
  }

  .logout-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.menu-items button:hover,
.logout-btn-box:hover,
.dropdown-menu button:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.637);
}

// Other styles
// Other styles
// Other styles
// Other styles

@media (max-width: 768px) {
  .menu-items {
    display: none;
  }
  .dropdown-menu {
    display: block;
  }
}

@media (min-width: 768px) {
  .dropdown-menu {
    display: none;
  }
}
