.toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 36px 16px;
  height: 86px;

  border-bottom: 1px solid rgb(46, 44, 44);
  .toolbar-logo {
    height: 40px;
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
    .app-name {
      margin-right: 8px;
      font-style: italic;
      font-size: 1.5rem;
    }
  }

  .toolbar-links {
    margin: 0 32px;
  }
  .toolbar-links a {
    font-size: 16px;
    text-decoration: none;
  }

  .spacer {
    flex: 1;
  }

  .search-field {
    display: flex;
    align-items: center;
    padding: 0 8px;
    width: 300px;
    // height: 36px;
    margin-right: 16px;

    input {
    }
  }

  .toolbar-icons {
    display: flex;
    align-items: center;

    button {
      position: relative;
    }

    .notification-badge {
      position: absolute;
      top: 0;
      right: 0;
      background-color: red;
      color: white;
      font-size: 10px;
      padding: 2px 6px;
      border-radius: 50%;
    }
  }
}

.profile-header {
  padding: 10px 16px;
  text-transform: uppercase;
  color: #333;
}

.mat-menu-item {
  font-size: 14px;
  padding: 8px 16px;
}

.toolbar-right {
  display: flex;
  align-items: center;
}

.menu-items {
  display: flex;
  gap: 10px;

  & > button {
    background: none;
    border: none;
  }

  .logout-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.menu-items button:hover,
.logout-btn-box:hover,
.dropdown-menu button:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.637);
}

// Other styles
// Other styles
// Other styles
// Other styles

@media (max-width: 768px) {
  .menu-items {
    display: none;
  }
  .dropdown-menu {
    display: block;
  }
}

@media (min-width: 768px) {
  .dropdown-menu {
    display: none;
  }
}
