<form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="email" placeholder="Email" formControlName="email" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input
      matInput
      type="password"
      placeholder="Password"
      formControlName="password"
    />
  </mat-form-field>

  <div class="error-container">
    <p>Invalid credentials. Please try again</p>
  </div>
  <button mat-flat-button type="submit" [disabled]="isLoading">Log In</button>

  <div class="bottom-section">
    <a routerLink="/forgotten-password" class="forgot-password"
      >Forgot your password?</a
    >
    <div>
      Don't have an account yet?
      <a routerLink="/register">Sign Up</a>
    </div>
  </div>
</form>
