<form class="register-form" [formGroup]="form" (ngSubmit)="onSubmit(form)">
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input
      matInput
      type="text"
      placeholder="Username"
      formControlName="username"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="email" placeholder="Email" formControlName="email" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input
      matInput
      type="password"
      placeholder="Password"
      formControlName="password"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Repeat password</mat-label>
    <input
      matInput
      type="password"
      placeholder="Password"
      formControlName="repeatPassword"
    />
  </mat-form-field>

  <div class="error-container">
    <p>Something went wrong. Please try again</p>
  </div>

  <button mat-flat-button type="submit">Register</button>

  <div class="bottom-section">
    Already have an account?
    <a routerLink="/login">Log in</a>
  </div>
</form>
