<div class="Review">
  <div class="Review__left">
    <div class="Avatar">
      <img
        src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/male3-512.png"
        alt="user avatar"
      />
    </div>

    <span class="Username"> Simon Sanchez </span>
  </div>
  <div class="Review__right">
    <div class="Review__right__Top">
      <div class="Rating">
        <app-star-rating></app-star-rating>
      </div>
      <div class="PublishDate">
        <span>February 28, 2024</span>
      </div>
    </div>
    <div class="Review__right__Bottom">
      <div class="ReviewText">
        <p>
          One of my resolutions this year was to step out of my comfort zone and
          explore classic literature, and since i absolutely adore pride and
          prejudice (2005), i decided to start with this book. after reading
          this story, i can now comprehend why “pride and prejudice” has
          captured the hearts of so many over the years with its wit, social
          insight and timeless romance makes it a captivating read. i’m not sure
          why it wasn’t a 5 star read for me, but i think that the slow start
          made it a bit challenging, it was until volume three where i started
          to really enjoy the story.
        </p>
      </div>

      <div class="CommentSection">
        <div class="CommentSection__statsContainer">
          <span>1389 likes </span>

          <span class="CommentNumber">82 comments</span>
        </div>
        <div class="CommentSection__actions">
          <button>
            <mat-icon color="primary">thumb_up</mat-icon><span>Like</span>
          </button>
          <button>
            <mat-icon color="primary">chat_bubble</mat-icon><span>Comment</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
